# Byte-compiled / cache
**/__pycache__/
__pycache__/
*.py[cod]
.gitignore

# Environment
.env
env/
venv/

# Django migrations
**/migrations/
db.sqlite3

# OS files
**/.DS_Store
.DS_Store

# VSCode settings
.vscode/

# MySQL dumps
*.sql
